services:
  - type: worker
    name: solana-hype-bot
    env: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: python solana-hype-bot.py
    envVars:
      - key: TWITTER_API_KEY
        sync: false
      - key: TWITTER_API_SECRET
        sync: false
      - key: TWITTER_ACCESS_TOKEN
        sync: false
      - key: TWITTER_ACCESS_TOKEN_SECRET
        sync: false
      - key: TWITTER_BEARER_TOKEN
        sync: false
